@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* font family */
body{
    font-family: "Mulish", sans-serif;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  /* css variale */
:root{
    --title-color: black;
    --title-size: 3rem;
    --title-weight: 800;
    --discription-color: rgba(19, 19, 24, 0.7);
    --btn-color:  rgb(255, 84, 0);
    --linear-gradient:  linear-gradient(0deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%);
    --p-font-size: 1rem;
    --p-font-weight: 400:

}

.BasicBtn{
    background-color: var(--btn-color);
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 7px 15px;
    border: none;
}

/* header styleing */
.header{
    max-width: 1200px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}
    
 ul{
    display: flex;
    align-items: center;
}
   
.logo-container{
    display: flex;
    align-items: center;
}

.logo-title{
    font-size: 2.2rem;
    font-weight: 800;
    margin-left: 0.7rem;
}

.sub-title{
    color: var(--btn-color);
}


ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 0.7rem;
}
ul li .active{
     background-color: var(--btn-color);
     padding: 0.5rem 0.8rem;
}

ul li .active:hover{
       color: white;
}

ul li a{
      text-decoration: none;
      color: #424247;
      font-size: 18px;
      font-weight: 400;
      transition: 0.3s;
}

ul li a:hover{
     color: var(--btn-color);
}

.baner-section{
    max-width: 1200px;
    height: 400px;
    margin: 0rem auto 1.5rem;
    box-sizing: 10px;
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 333;
    border-radius: 10px;
}

.dark{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}

.baner-title{
    font-size: 4rem;
    font-weight: 800;
    color: white;
    margin-bottom: 1.2rem;
}

.baner-discription{
    color: white;
    font-weight: var(--p-font-weight);
    font-size: var(--p-font-size);
}

/* main container styls  */
.main-container{
    max-width: 1290px;
    margin: 4rem auto 0;

}

.first-section{
     max-width: 1200px;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 6rem;
     align-content: center;
}

.first-child img{
   width: 100%;
   filter: brightness(70%);
}

.first-section-title, .simpleTitle{
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.first-section-discription, .simpleDec, li{
    font-size: var(--p-font-size);
    color: var(--title-color);
    font-weight: var(--p-font-weight);
    margin-bottom: 2rem;
}

/* destimation sectiom start  */

.destinationArea{
    max-width: 1200px;
    margin: 4rem auto 0;
}

.decTitle, .titleText, .disCountTitle, .subTitle{ 
    font-size: var(--title-size);
    font-weight: var(--title-weight);
    color: var(--title-color);
    margin-bottom: 1.5rem;
    text-align: center;
}

.decDis, .TitleDec, .disCountDec{
    font-size: var(--p-font-size);
    color: var(--discription-color);
    font-weight: var(--p-font-weight);
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.destinationContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.childDesti {
    height: 250px;
    position: relative;
}

#CountryName{
    position: absolute;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 22;
    letter-spacing: 2px;
}
.childDesti img{
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}

 .childDesti:nth-child(1){
   grid-column: 1/3;
}
 
 .childDesti:nth-child(2){
   grid-column: 3/5;
}
 
 .childDesti:nth-child(4){
   grid-column: 2/4;
}

.grit2{
    display: grid;
    grid-template-columns: 430px auto;
    margin-top: 1rem;
    gap: 1rem;
}
 /* destimation sectiom closed  */


/* why choose section start  */

.textContainer{
    max-width: 1200px;
    height: auto;
    margin: 4rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TitleTextcon{
    width: 700px;
    margin: 0 auto;
}

.childCon:nth-child(1){
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
     height: 220px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     padding: 1.5rem;
}

.childCon:nth-child(2){
     border: 1px solid rgba(41, 206, 246, 0.2);
     border-radius: 16px;
     background: rgba(41, 206, 246, 0.05);
     height: 220px;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     padding: 1.5rem;
}

.childCon img{
    width: 70px;
    height: 70px;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    filter: brightness(80%);
}

.childTitle{
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    margin-bottom: 0.5rem;
}

.childDec{
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    color: var(--discription-color);
    margin-bottom: 1.5rem;
}

.twotextcon{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.lastcontainers img{
     width: 70px;
     height: 70px;
     margin-bottom: 0.7rem;
     border-radius: 6px;
     filter: brightness(80%);
}

.lastcontainers{
    width: 600px;
    height: 220px;
    margin: 0 auto;
    padding: 1.2rem;
    margin-top: 1.5rem;
    border: 1px solid rgba(233, 68, 68, 0.2);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

 /* why choose section closed  */
 

 /* discount section start  */

 .DiscountContainer{
     max-width: 1200px;
     margin: 4rem auto 0;
     border-radius: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .textDiscon{
    width: 700px;
    margin: 0 auto;
 }

 .childConainer:nth-child(1) {
      max-width: 1200px;
      border-radius: 10px;
      height: 400px;
      background-image: url('../Images/Group\ 39.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      z-index: 444;
      border-radius: 20px;
      margin-bottom: 2rem;
      border-radius: 10px;
 }

  .childConainer:nth-child(2) {
    max-width: 1200px;
    border-radius: 10px;
    height: 400px;
    background-image: url('../Images/Group\ 40.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 444;
    border-radius: 20px;
    margin-bottom: 2rem;
    border-radius: 10px
  }

  .childConainer:nth-child(3) {
    max-width: 1200px;
    border-radius: 10px;
    height: 400px;
    background-image: url('../Images/Group\ 39.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 444;
    border-radius: 20px;
    margin-bottom: 2rem;
    border-radius: 10px
  }

  .childConainer:nth-child(2) .babycon{
    top: 3.4rem;
    left: 3rem;
  }
 .childConainer .subTitle  {
     text-align: left;
     margin-bottom: 0.4rem;
 }

 .subDec{
    margin-bottom: 0.7rem;
 }

 .money{
    color: var(--btn-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.7rem;
 }

 .babycon{
    width: 530px;
    height: 290px;
    position: absolute;
    top: 3.4rem;
    right: 3rem;
    box-sizing: border-box;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    padding: 1rem;
 
 }

 .iconCotainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
 }
 .text-icon{
    margin-right: 1rem;
 }

 .iconCotainer img {
     width: 20px;
     height: 20px;
     margin-right: 0.4rem;
 }

 .baby2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    border-radius: 10px;
 }

 .baby-2{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
 }
 
 #center{
    margin: 0 auto;
    text-align: center;
 }

/* discount section closed  */

/* A Simple Perfect section start */
.simpleContainer{
   max-width: 1200px; 
   margin: 5rem auto 4rem;
   display: grid;
   justify-content: space-between;
   gap: 2rem;
   grid-template-columns: 500px auto;

}
 .simpleDec, li, .newsDec{
    margin-bottom: 1.5rem;
    line-height: 1.3rem;
}

.videoTag{
    border-radius: 10px;
}

/* A Simple Perfect section closed */

.newsLatterContainer{
    max-width: 1200px;
    margin: 5rem auto 4rem;
    display: grid;
    grid-template-columns: 40% 700px;
    align-items: center;
    justify-content: space-between;
}

.newsTitle{
    font-size: 1.5rem;
    font-weight: var(--title-weight);
    color: black;
    margin-bottom: 1rem;
}

.childNewslatter input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.3);
    padding: 0.7rem 1rem;
    border: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    margin: 1.5rem 0rem 1.2rem ;
}

.childNewslatter:nth-child(1){
    border: 1px solid var(--btn-color);
    padding: 2rem ;
    border-radius: 10px;
    height: 350px;
}
.childNewslatter:nth-child(2){
    width: 700px;
    height: 350px;
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    position: relative;
    z-index: 5655;
}

.darhBeby{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: -1;

}

.darhBeby2 {
    position: absolute;
    background-color: var(--btn-color);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 15px;
    bottom: 2.3rem;
    right: 0.4rem;
    transform: rotate(-19.6deg);
}
.darhBeby2 p{
   font-size: 1rem;
   color: white;
   font-weight: 400;
   margin-bottom: 1ren;

}

.saveMoney{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;

}

.childNewslatter hr{
    width: 100%;
}

.sbsBtn{
    width: 100%;
    padding: 0.7rem 1.2rem;
    background-color: var(--btn-color);
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    letter-spacing: 3px;
}

/* footer section start */

#footerContainer{
    max-width: 1200px;
    height: 360px;
    margin: 0 auto;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.footextcon{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footerTitle{
    font-size: 2rem;
    font-weight: 800;
    color: black;
}

.titleStyle{
    color: var(--btn-color);
}

.logocontainer {
    width: 800px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logocontainer p{
    color: var(--discription-color);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

 #copyWrite{
    color: var(--discription-color);
    font-size: var(--p-font-size);
    font-weight: var(--p-font-weight);
    line-height: 1.5rem;
}

.childLogo i{
    margin: 0rem 1rem ;
    font-size: 1.6rem;
}

.logocontainer hr{
    margin-bottom: 2rem;
}
